RewriteEngine On
RewriteBase /

# Exclude assets from rewrite rule
RewriteCond %{REQUEST_URI} !\.(css|js|svg|jpg|jpeg|png|gif|woff2|ico|ttf)$ [NC]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/index.php [L]

# Exclude the public and app directories from the rewrite rule
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/app/
RewriteRule ^(.*)$ /public/$1 [L]

